body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
}

.hud {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
    width: 45%;
    display: grid;
    justify-items: left;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
}
